# Byte-compiled / optimized /DLL files
__pycache__/

# Emacs cache
*~

# Unit test / coverage reports
.pytest_cache
.coverage
.coverage.*
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# dotevn
.env

# virtualenv
.venv
venv/
ENV/
